{
  "semi": true,
  "trailingComma": "es5",
  "singleQuote": true,
  "printWidth": 80,
  "tabWidth": 2,
  "useTabs": false,
  "plugins": ["prettier-plugin-tailwindcss"],
  "overrides": [
    {
      "files": "*.{css,html}",
      "options": {
        "tabWidth": 4,
        "singleQuote": false,
        "trailingComma": "none"
      }
    },
    {
        "files": "*.{ts,js}",
        "options": {
            "tabWidth": 4,
            "singleQuote": true,
            "trailingComma": "none"
        }
    }
  ]
}
